body {
    background-color: rgb(168, 164, 164);
    max-width: 100%;
    padding: 0 100px;
    text-align: center;
}

h1 {
    
}

ul li {
    display: inline;
    padding: 12px 15px;
    margin: 20px 40px;
    border: 1px solid red;
    background-color: rgba(19, 123, 70, 0.6);
}

.container {
    background-color: white;
    width: 80%;
    height: 900px;
    margin: -20px auto;
    padding-top: 20px;
}